<%= form_for @recipe do |f| %>
    <% if @recipe.errors.any? %>
        <div id="error_explanation">
            <h3> There are errors: </h3>
            <ul>
                <% @recipe.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>
    <%= f.label :description %>
    <%= f.text_area :description %> <br>
    <br>
    <%= f.label :ingredients %> <br>
    <%= f.add_nested_fields_link :ingredients %><br>
    <%= f.nested_fields_for :ingredients do |ff| %>
        <%= ff.label :name %>
        <%= ff.text_field :name%> <br>

        <%= ff.label :amount %>
        <%= ff.text_field :amount %> <br>

        <%= ff.remove_nested_fields_link %>
    <% end %>
    <br>

    <%= f.label :Directions %> <br>
    <%= f.add_nested_fields_link :directions %><br>
    <%= f.nested_fields_for :directions do |ff| %>
        <%= ff.label :step %>
        <%= ff.text_area :step %> <br>

        <%= ff.remove_nested_fields_link %>
    <% end %>
    <br>
    
    
    <%= f.submit %>

<% end %>